<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/d2fdcc8c83.js" crossorigin="anonymous"></script>
  <title>Détails - StageTracker</title>
</head>
<body>
{% include 'navbar.twig'%}
<section class="section ">
    <!-- Entête de l'offre -->
    <div>
      <h1 class="title is-1">
        <a href="#">{{result.Nom_offre}}</a>
      </h1>
      <h2 class="subtitle is-2">
        <a href="#">{{result.Nom_poste_offre}}</a>
      </h2>
      <div class="info-entreprise" style="margin-bottom: 1rem">
        <p id="nomEntreprise" class="is-size-5" style="margin-bottom: 0;">
        <article class="media">
          <figure class="media-left">
            <p class="image is-64x64 is-rounded">
              <img src="{{result.Logo_album}}" alt="Logo entreprise">
            </p>
          </figure>
          <div class="media-content">
            <div class="content">
              <a href="#"><strong>{{result.Nom_ent}}</strong></a>
              <p id="location" class="is-size-5">
                {{result.CP_adr}} {{result.Ville_adr}}
              </p>
            </div>
          </div>
        </article>
        </p>
      </div>
      <div class="buttons">
        <div class="button is-link">Postuler à l'offre</div>
        <div class="button is-light">
          <figure class="icon">
            <i class="fa-regular fa-heart"></i>
          </figure>
        </div>
      </div>
    </div>
    <div class="is-divider"></div>
    <!-- Corps de l'offre -->
    <div>
      <section class="section">
        <div class="content">
          <h2>Description</h2>
          {{result.Desc_offre}}
          <h2>Informations complémentaires</h2>
          <ul>
            <li>Durée du stage: {{result.Duree_offre}} semaines</li>
            <li>Cible: {{result.Mineure_offre}}</li>
            <li>Renumération: {{result.Remun_offre}}</li>
            <li>Poste à pourvoir: {{result.Nb_poste_offre}}</li>
          </ul>
          <br>
          <p>Offre postée le <time datetime="2016-01-01">{{result.Date_offre}}</time></p>
        </div>
      </section>
    </div>
  </section>
  {% include 'footer.twig' %}
</body>